body{
    background-color: #E65100;
   color: whitesmoke;
   font-family: 'Montserrat', sans-serif;

}    
header{
    background-color: black;
    margin: 0;
    display: flex;
    align-items:center;
    height: 130px;
    right: 0;
    left: 0;
    top: 0;
    width: 100%;
    position: fixed;
}
header img{
   height: 110px;
   margin-right: 40px;
} 
header h2{
    width: 50%;
    margin: 0% auto;
    display: flex; 
}
div{
    margin: 0 auto;
    top: 30px;
}