html, body{
   height: 100%;
   margin: 0;
   padding: 0;
}
body{
   background-color: #E65100;
   color: whitesmoke;
   font-family: 'Montserrat', sans-serif;
   margin: 0;
   min-height: 100vh;
   display: flex; 
   flex-direction: column;
   padding-top: 120px;
}
header{
   background-color: black;
   margin: 0;
   position: fixed;
   top: 0;
   width: 100%;
   z-index: 1000;
   display: flex; /* Flexbox para alinhar os itens */
   align-items: center; /* Centraliza verticalmente */
   justify-content: flex-start; /* Centraliza horizontalmente */
   padding: 0 0px;
   height: 130px; /* Altura fixa para o header */
}
header img{
   height: 110px;
   margin-right: 40px;
}
nav{
  display: flex;
  align-items: center;
  margin:0;
  gap: 60px;
}
button{
   text-decoration: none;
   background-color: #E65100;
   color: black;
   border-radius: 25px;
   padding: 20px;
   font-family: 'Montserrat', sans-serif;
   font-size: 130%;
   margin: 0;
   cursor: pointer;
   float: right;
   transition: background 0.2s;
}
H1{
   float: center;
   margin: 20px;
   padding: 20px;
   text-align: center;
}
h2{
   color: whitesmoke;
   padding: 20px;
   font-family: 'Montserrat', sans-serif;
   margin-bottom: 4px; /* aproxima do que vem depois */
}
h3{
   font-size: 150%;
   color: black;
   padding: 20px;
   font-family: 'Montserrat', sans-serif;
}
h5{
   font-size: 80%;
}
ins{
   text-decoration: none;
}
footer{
   color: whitesmoke;
   font-family: 'Montserrat', sans-serif;
   text-align: center; 
   background-color: black;
   margin-top: auto; 
}
footer a {
  color: whitesmoke;
  text-decoration: none;
  margin: 0 10px;
}
/* ID */

#botao{
   color: white;
   border-radius: 10px;
   padding: 20px;
   font-family: "Montserrat", sans-serif;
   text-decoration: none ;
   word-spacing: 5px;
   font-size: 120%;
   background: none;
   border: none;
   transition: color 0.3s, transform 0.3s; /* Transição suave */
}
#botao:hover {
   color:#E65100;
   transform: scale(1.1); /* Aumenta o tamanho da imagem ao passar o mouse */
}
#bem-vindo{
font-size: 90%;
}
#frase1{
   font-size: 150%;
}
#frase2{
   font-size: 150%;
   color: black;
}
#quem-somos{
background-color: white;
color: black;
}
#lojas{
   background-color: #E65100;
   color: white;
}

#galery1{
   padding: 0%;
   margin: 10px;

}

#description{
   width: 240px;
   margin-left: 400px;
   margin-top: 400 px;
}


#linha{
   border: 3px solid black;
   margin: 0;
   padding: 0;
}