body{
   background-color: #ffc107;
   font-family: 'Montserrat', sans-serif;
   margin: 0;
}
header{
   background-color: rgb(10, 0, 0);
   margin: 0;
}
button{
   background-color: #ffc107;
   color: rgb(10, 0, 0);
   border-radius: 10px;
   padding: 20px;
   font-family: 'Montserrat', sans-serif;
   font-size: large;
   float: right;
   margin: 30px 30px 30px;
}
button:hover {
    background-color: rgb(252, 253, 252);
    transition: .2s;
}
nav{
  display: auto auto auto auto;
  float: right;
  margin: 50px 50px 50px;
  word-spacing: 60px;
  font-size: large;
}
footer{
   color: #ffc107 ;
   text-align: center; 
   padding: 20px; 
   background-color: rgb(10, 0, 0); 
}
/* ID */

#botao{
   color: white;
   border-radius: 10px;
   padding: 20px;
   font-family: "poppins", sans-serif;
   text-decoration: none ;
   word-spacing: 5px;
}